---
import Layout from '../layouts/Layout.astro';
import HeadlineBasic from '../components/HeadlineBasic.astro';
import Section from '../components/Section.astro';
import Alert from '../components/atom/Alert.astro';
import Image from '../components/atom/Image.astro';
import H1 from '../components/H1.astro';
import PageHero from '../components/PageHero.astro';
import Button from '../components/atom/Button.astro';

---

<script>
    const submitButton = document.querySelector('button[type="submit"]') as Element;
    const alertValidContainer = document.querySelector('.alert-valid') as Element
    const alertErrorContainer = document.querySelector('.alert-error') as Element
    function validateForm() {
        const name = (document.getElementById("form_name") as HTMLInputElement)?.value as string;
        const email = (document.getElementById("form_email") as HTMLInputElement)?.value as string;
        const phone = (document.getElementById("form_phone") as HTMLInputElement)?.value as string;
        const message = (document.getElementById("form_message") as HTMLInputElement)?.value as string;

        // Regular expression for a valid email address
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const phoneRegex = /^\d+$/;

        if (name.length < 4 || email.length < 4 || phone.length < 4 || message.length < 4) return false;
        if (!email?.match(emailRegex)) return false;
        if (!phone?.match(phoneRegex)) return false;

        return true;
    }

    submitButton.addEventListener('click', (e) => {
        // e.preventDefault();
        if(validateForm()) {
            alertValidContainer.classList.add('show');
            setTimeout(() => {
                alertValidContainer.classList.remove('show');
            }, 2500);
        }
        else {
            alertErrorContainer.classList.add('show');
            setTimeout(() => {
                alertErrorContainer.classList.remove('show');
            }, 2500);
        }
    });

    const alertCopyContainer = document.querySelector('.alert-copy') as Element
    const alertCopyButtons = [...document.querySelectorAll('li[data-device]')] as Array<HTMLLIElement>

    alertCopyButtons.forEach((button) => {
        button.addEventListener('click', () => {
            const text = button.querySelector('p')?.textContent.replace(/\s+/g,'') as String;
            copy(text);
        })
    })  
    function copy(text) {
        navigator.clipboard.writeText(text);
        alertCopyContainer.classList.add('show');
        setTimeout(() => {
            alertCopyContainer.classList.remove('show');
        }, 2500);
    }

</script>

<Layout title="Preezeo - Nous contacter">

    <div class="alert alert-error">
        <Alert 
            type="error"
            text="Il y a eu une erreur lors de l'envoi du message.<br> Veuillez vérifier les champs et réessayer. <br> Minimum 4 caractères par champs."
        > 
            <svg slot="icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="#e3ce82" viewBox="0 0 256 256"><path d="M168.49,104.49,145,128l23.52,23.51a12,12,0,0,1-17,17L128,145l-23.51,23.52a12,12,0,0,1-17-17L111,128,87.51,104.49a12,12,0,0,1,17-17L128,111l23.51-23.52a12,12,0,0,1,17,17ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z"></path></svg>
        </Alert>
    </div>

    <div class="alert alert-valid">
        <Alert 
            type="success"
            text="Message envoyé"
        > 
            <svg slot="icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 256 256"><path d="M176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Z"></path></svg>
        </Alert>
    </div>

    <div class="alert alert-copy">
        <Alert 
            type="success"
            text="Copié dans le presse-papier !"
        > 
            <svg slot="icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 256 256"><path d="M172,156a12,12,0,0,1-12,12H96a12,12,0,0,1,0-24h64A12,12,0,0,1,172,156Zm-12-52H96a12,12,0,0,0,0,24h64a12,12,0,0,0,0-24Zm60-56V216a20,20,0,0,1-20,20H56a20,20,0,0,1-20-20V48A20,20,0,0,1,56,28H90.53a51.88,51.88,0,0,1,74.94,0H200A20,20,0,0,1,220,48ZM128,36a28,28,0,0,0-27.71,24h55.42A28,28,0,0,0,128,36Zm68,16H178.59A52.13,52.13,0,0,1,180,64v8a12,12,0,0,1-12,12H88A12,12,0,0,1,76,72V64a52.13,52.13,0,0,1,1.41-12H60V212H196Z"></path></svg>
        </Alert>
    </div>

    <HeadlineBasic />

    <PageHero h1="Contactez nous" icon="message"/>

    <Section>
        <div class="relative flex-col-reverse lg:flex-row flex gap-4 lg-gap-16 justify-between items-stretch mx-auto lg:bg-light2 px-4 py-6 lg:p-10 lg:border border-purple rounded-2xl">
            <div class="flex flex-col lg:gap-16">
                <div class="hidden lg:block lg:absolute lg:top-10 lg:left-10 h-[25px]">
                    <Image 
                        src="/img/logo/text_burgundy.svg" 
                        alt="Preezeo logo"
                        fetchPriority={true}
                    />
                </div>

                <div class="flex flex-col grow-1 gap-4 justify-start items-start my-auto border-2 border-dotted border-purple rounded-lg p-4 lg:p-0">
                    <ul class="flex flex-col gap-4 ">
                        <li data-device="mail" class="flex items-center gap-4 py-1 cursor-pointer duration-300 font-medium hover:opacity-50">
                            <div class="flex items-center justify-center w-[30px] h-[30px]">
                                <Image 
                                    src="/img/icons/mail.svg" 
                                    alt="Mail icon"
                                    fetchPriority={true}
                                />
                            </div>
                            <p class="text-sm font-semibold tracking-2">contact@preezeo.fr</p>
                        </li>
                        <li data-device="phone" class="flex items-center gap-4 py-1 cursor-pointer duration-300 font-medium hover:opacity-50">
                            <div class="flex items-center justify-center w-[30px] h-[30px]">
                                <Image 
                                    src="/img/icons/phone.svg" 
                                    alt="Phone icon"
                                    fetchPriority={true}
                                />
                            </div>
                            <p class="text-sm font-semibold tracking-2">07 88 28 10 89</p>
                        </li>
                        <li class="flex items-center gap-4 py-1 cursor-pointer duration-300 font-medium hover:opacity-50">
                            <a class="flex items-center gap-4" href="https://www.google.fr/maps/place/57+Av.+du+Mar%C3%A9chal+Juin,+64200+Biarritz/@43.470901,-1.5429779,17z/data=!3m1!4b1!4m6!3m5!1s0xd51153581b41ef9:0xf7cc06159a644b4!8m2!3d43.4708971!4d-1.540403!16s%2Fg%2F11bw44dfs2?entry=ttu" target="_blank">
                                <div class="flex items-center justify-center w-[30px] h-[30px]">
                                    <Image 
                                        src="/img/icons/location.svg" 
                                        alt="Location icon"
                                        fetchPriority={true}
                                    />
                                </div>
                                <p class="text-sm font-semibold tracking-2">57 Avenue du Maréchal Juin<br> 64500 Biarritz</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-col gap-6 grow-1 lg:bg-metal lg:text-blue border-2 lg:border-none border-purple px-4 py-6 lg:px-8 lg:py-10 rounded-lg lg:rounded-xl">
                <h2 class="hidden lg:block text-base tracking-2 font-bold">Je suis ...</h2>

                <form 
                    class="flex flex-col items-stretch gap-5 w-100"
                    method="post" 
                    action="https://formspree.io/f/mleyadeq" 
                >
                    <div class="form_group select-category flex flex-wrap gap-2">
                        <input type="radio" id="category_individual" value="Particulier" name="category" checked required />
                        <label for="category_individual">Particulier</label>
        
                        <input type="radio" id="category_professional" value="Professionnel" name="category" required />
                        <label for="category_professional">Professionnel</label>
        
                        <input type="radio" id="category_infrastructure" value="Infrastructure Collective" name="category" required />
                        <label for="category_infrastructure">Infrastructure collective</label>
                    </div>

                    <div class="form_group flex w-full lg:w-2/3 gap-2 border-b-2 border-purple">
                        <label for="form_name" class="hidden">Name</label>
                        <input type="text" id="form_name" name="name" placeholder="Nom*" autocomplete="name" required/>
                    </div>

                    <div class="form_group flex w-full lg:w-2/3 gap-2 border-b-2 border-purple">
                        <label for="form_email" class="hidden">Email</label>
                        <input type="email" id="form_email" name="email" placeholder="Mail*" autocomplete="email" required />
                    </div>

                    <div class="form_group flex w-full lg:w-2/3 gap-2 border-b-2 border-purple">
                        <label for="form_phone" class="hidden">Phone</label>
                        <input type="tel" id="form_phone" name="phone" placeholder="Téléphone*" autocomplete="tel" required/>
                    </div>

                    <div class="form_group flex gap-2 border-b-2 border-purple">
                        <label for="form_message" class="hidden">Message</label>
                        <textarea id="form_message" name="message" placeholder="Message*" required></textarea>
                    </div>

                    <div class="form_group flex gap-2 mt-10 lg:mt-20">
                        <div class="w-fit ml-auto">
                            <Button
                                text="Envoyer"
                                color="blue"
                                type="submit"
                            />
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </Section>
</Layout>

<style lang="scss">
@use '../styles/_variables.scss' as *;

.link-svg {
    @include flex(center,flex-start);
    // @include position(calc(20px + 100%), $left:50%);
    // position: absolute;
    width: max-content;
    max-width: unset;
    translate: 85px 20px;
}

.alert {
    opacity: 0;
    transition: .3s ease;
    &.show {
        opacity: 1;
    }
}

.select-category input:checked + label {
    @media screen and (max-width: 768px) {
        color: var(--light);
    }
}

.select-category label {
    @include flex(center,center);
    flex-grow: 1;
    cursor: pointer;
    background-color:$t;
    height: 30px;
    color: var(--blue);
    font-size: 14px;
    letter-spacing: 0.42px;
    text-align: center;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px var(--purple);
    transition: .2s linear;
    outline: 1.5px $t solid;

    @media screen and (max-width: 768px) {
        color: var(--purple);
    }

    &:hover {
        outline-color: var(--purple);
    }
}

.form_group {
    transition: .3s linear;

    // &:has( > input:required:not(:placeholder-shown):invalid) {
    //     border-color: var(--error);
    // }
    // &:has( > input:required:not(:placeholder-shown):valid) {
    //     border-color: var(--valid);
    // }
    &:hover, &:focus-within {
        border-color: var(--light-purple)
    }
}

input, textarea {
    width: 100%;
    padding: 2px 5px;
    outline: 1px solid $t;
    transition: .2s linear;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &[type="radio"] {
        display: none;
        &:checked + label {
            background-color: var(--purple);
            outline-color: $t !important;
        }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
        border-color: var(--purple);
        -webkit-box-shadow: 0 0 0px 1000px var(--metal) inset;
        transition: 5000s ease-in-out 0s;
    }
}

textarea {
    min-height: 100px;
}
</style>
