---
import Image from "../components/atom/Image.astro";
import Layout from "../layouts/Layout.astro";
import ButtonContact from '../components/ButtonContact.astro';
import Modale from '../components/Modale.vue';
--- 

<Layout title="Preezeo la borne qu'il vous faut !">
    <section class="container mt-6 lg:mt-10 max-md:px-[5%]">
        
        <div class="flex items-center justify-between md:items-end max-md:flex-col gap-12">
            <h2 class="paragraphe md:flex-1 md:w-1/2 max-md:w-full">
                Labélisé Qualifelec, <span class="text-yellow">Preezeo</span> intervient dans toute la France métropolitaine afin d’installer et de maintenir vos <span class="text-yellow">bornes de recharge</span> pour véhicules électriques. 
                Nous vous assurons un service de qualité effectué par des électriciens <span class="text-yellow">professionnels agréés IRVE</span>.
            </h2>

            <div class="md:flex-1 md:w-1/2 max-md:w-full">
                <Image 
                    c=""
                    src="/img/illu/hero.svg"
                    alt=""
                    fetchPriority={true}
                />
            </div>
        </div>

    </section>

    <section class="overflow-x-clip max-w-[1400px] lg:mx-auto">
        <div class="card-scroller flex justify-start items-stretch gap-8 w-full overflow-x-scroll overflow-y-clip pb-8 snap-x snap-mandatory snap-always px-[5%]">

            <a href="#" class="card">
                <div class="absolute z-[-1] h-full w-full left-4">
                    <Image src="/img/illu/card-illu-1.svg" alt="" />
                </div>
                <div class="card__overlay">
                    <h2 class="font-montserrat font-black h-[2em] tracking-2 text-2xl mb-4">Guide irve</h2>
                    <p class="font-medium leading-snug text-lg">Tout savoir sur ces nouveaux installateurs</p>
                    <svg class="absolute bottom-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7241 9.04262C15.1241 8.66175 15.1396 8.02877 14.7587 7.62883L8.55205 1.11133C8.17118 0.711383 7.53821 0.695919 7.13826 1.07679C6.73831 1.45766 6.72285 2.09063 7.10372 2.49058L12.6207 8.28391L6.82739 13.8009C6.42745 14.1818 6.41198 14.8148 6.79285 15.2147C7.17372 15.6147 7.8067 15.6301 8.20664 15.2492L14.7241 9.04262ZM0.975576 8.9997L14.0101 9.31815L14.0589 7.31875L1.02442 7.0003L0.975576 8.9997Z" fill="white"/>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="absolute z-[-1] h-full w-full left-0 -top-4">
                    <Image src="/img/illu/card-illu-2.svg" alt="" />
                </div>
                <div class="card__overlay">
                    <h2 class="font-montserrat font-black h-[2em] tracking-2 text-2xl mb-4">Aides & subventions</h2>
                    <p class="font-medium leading-snug text-lg">Des solutions adaptées à votre budget</p>
                    <svg class="absolute bottom-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7241 9.04262C15.1241 8.66175 15.1396 8.02877 14.7587 7.62883L8.55205 1.11133C8.17118 0.711383 7.53821 0.695919 7.13826 1.07679C6.73831 1.45766 6.72285 2.09063 7.10372 2.49058L12.6207 8.28391L6.82739 13.8009C6.42745 14.1818 6.41198 14.8148 6.79285 15.2147C7.17372 15.6147 7.8067 15.6301 8.20664 15.2492L14.7241 9.04262ZM0.975576 8.9997L14.0101 9.31815L14.0589 7.31875L1.02442 7.0003L0.975576 8.9997Z" fill="white"/>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="absolute z-[-1] h-full w-full -left-10 top-4">
                    <Image src="/img/illu/card-illu-3.svg" alt="" />
                </div>
                <div class="card__overlay">
                    <h2 class="font-montserrat font-black h-[2em] tracking-2 text-2xl mb-4">Installation & Maintenance</h2>
                    <p class="font-medium leading-snug text-lg">La pose et l’entretien de votre borne</p>
                    <svg class="absolute bottom-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7241 9.04262C15.1241 8.66175 15.1396 8.02877 14.7587 7.62883L8.55205 1.11133C8.17118 0.711383 7.53821 0.695919 7.13826 1.07679C6.73831 1.45766 6.72285 2.09063 7.10372 2.49058L12.6207 8.28391L6.82739 13.8009C6.42745 14.1818 6.41198 14.8148 6.79285 15.2147C7.17372 15.6147 7.8067 15.6301 8.20664 15.2492L14.7241 9.04262ZM0.975576 8.9997L14.0101 9.31815L14.0589 7.31875L1.02442 7.0003L0.975576 8.9997Z" fill="white"/>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="absolute z-[-1] h-full w-full -left-15 top-4">
                    <Image src="/img/illu/card-illu-4.svg" alt="" />
                </div>
                <div class="card__overlay">
                    <h2 class="font-montserrat font-black h-[2em] tracking-2 text-2xl mb-4">Nos produits</h2>
                    <p class="font-medium leading-snug text-lg">Découvrez notre sélection des meilleurs produits sur le marché</p>
                    <svg class="absolute bottom-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7241 9.04262C15.1241 8.66175 15.1396 8.02877 14.7587 7.62883L8.55205 1.11133C8.17118 0.711383 7.53821 0.695919 7.13826 1.07679C6.73831 1.45766 6.72285 2.09063 7.10372 2.49058L12.6207 8.28391L6.82739 13.8009C6.42745 14.1818 6.41198 14.8148 6.79285 15.2147C7.17372 15.6147 7.8067 15.6301 8.20664 15.2492L14.7241 9.04262ZM0.975576 8.9997L14.0101 9.31815L14.0589 7.31875L1.02442 7.0003L0.975576 8.9997Z" fill="white"/>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="absolute z-[-1] h-full w-1/2 -left-5 top-4">
                    <Image src="/img/illu/card-illu-5.svg" alt="" />
                </div>
                <div class="card__overlay">
                    <h2 class="font-montserrat font-black h-[2em] tracking-2 text-2xl mb-4">Technique</h2>
                    <p class="font-medium leading-snug text-lg">Le saviez vous ?</p>
                    <svg class="absolute bottom-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7241 9.04262C15.1241 8.66175 15.1396 8.02877 14.7587 7.62883L8.55205 1.11133C8.17118 0.711383 7.53821 0.695919 7.13826 1.07679C6.73831 1.45766 6.72285 2.09063 7.10372 2.49058L12.6207 8.28391L6.82739 13.8009C6.42745 14.1818 6.41198 14.8148 6.79285 15.2147C7.17372 15.6147 7.8067 15.6301 8.20664 15.2492L14.7241 9.04262ZM0.975576 8.9997L14.0101 9.31815L14.0589 7.31875L1.02442 7.0003L0.975576 8.9997Z" fill="white"/>
                    </svg>
                </div>
            </a>

            <a href="#" class="card">
                <div class="absolute z-[-1] h-full w-1/2 inset-x-auto top-4 ">
                    <Image src="/img/illu/card-illu-6.svg" alt="" />
                </div>
                <div class="card__overlay">
                    <h2 class="font-montserrat font-black h-[2em] tracking-2 text-2xl mb-4">Preezeo</h2>
                    <p class="font-medium leading-snug text-lg">Qui sommes nous ?</p>
                    <svg class="absolute bottom-4 right-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7241 9.04262C15.1241 8.66175 15.1396 8.02877 14.7587 7.62883L8.55205 1.11133C8.17118 0.711383 7.53821 0.695919 7.13826 1.07679C6.73831 1.45766 6.72285 2.09063 7.10372 2.49058L12.6207 8.28391L6.82739 13.8009C6.42745 14.1818 6.41198 14.8148 6.79285 15.2147C7.17372 15.6147 7.8067 15.6301 8.20664 15.2492L14.7241 9.04262ZM0.975576 8.9997L14.0101 9.31815L14.0589 7.31875L1.02442 7.0003L0.975576 8.9997Z" fill="white"/>
                    </svg>
                </div>
            </a>
        </div>
    </section>

    <section class="container max-md:px-[5%]">
        <h2 class="paragraphe max-w-[800px] mx-auto">
            <span class="text-purple">Preezeo</span> forme de manière régulière ses techniciens. 
            Nous favorisons des produits <span class="text-purple">fabriqués en France</span> qui peuvent être évolutifs. <br>
            <span class="text-purple">Spécialiste</span> de l’installation des bornes de recharge pour véhicules électriques.
        </h2>
    </section>


    <section class="relative my-[10vw]">
        <div class="absolute z-[-1] w-full -top-[33%]">
            <Image src="/img/illu/section.svg" alt="" cover={true} c="max-w-unset max-h-unset w-full h-full" />
        </div>

        <div class="flex flex-col w-full max-w-[800px] mx-auto max-md:px-[5%]">
            <article class="w-full flex flex-col items-center justify-center gap-5 p-6 lg:p-10 rounded-lg bg-home-cards border border-blue  backdrop-blur-xl">
                <h2 class="text-yellow font-black text-xl">Offre de parrainage</h2>
                <p class="paragraphe">
                    Profitez de notre offre de parrainage exclusive chez <span class="text-purple">Preezeo</span> ! Parrainez un ami ou un proche pour <span class="text-yellow">l'installation d'une borne de recharge électrique</span>, et bénéficiez chacun d'une remise sur nos services. 
                    <br>
                    <br>
                    Partagez les avantages de la <span class="text-yellow">mobilité électrique</span> tout en économisant sur votre installation.
                    <br>
                    <br>
                    <span class="text-yellow">Rejoignez-nous dès aujourd'hui</span> pour promouvoir une mobilité plus verte et obtenir des réductions pour vous et vos proches.  
                </p>
            </article>

            <ButtonContact c="justify-self-end ml-auto mt-4" />
        </div>

    </section>


    <section class="container max-md:px-[5%]">
        <div class="lg:grid grid-cols-5 gap-8 scrollbar-hide max-md:flex max-md:overflow-y-clip max-md:overflow-x-scroll">
            <div class="min-w-[150px] max-h-[150px] max-w-[220px]">
                <Image src="/img/illu/avere.png" alt="" />
            </div>
            <div class="min-w-[150px] max-h-[150px] max-w-[220px]">
                <Image src="/img/illu/advenir.png" alt="" />
            </div>
            <div class="min-w-[150px] max-h-[150px] max-w-[220px]">
                <Image src="/img/illu/qualifelec.png" alt="" />
            </div>
            <div class="min-w-[150px] max-h-[150px] max-w-[220px]">
                <Image src="/img/illu/evready.png" alt="" />
            </div>
            <div class="min-w-[150px] max-h-[150px] max-w-[220px]">
                <Image src="/img/illu/irve.png" alt="" />
            </div>
            
        </div>
    </section>
</Layout>

<style lang="scss" is:global>
@use '../styles/_variables.scss' as *;

.card-scroller {
    scroll-padding: 0 5%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    mask: linear-gradient(90deg, transparent, white 5%, white 90%, transparent);

    &::-webkit-scrollbar {
        background: transparent;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
       background: var(--blue);
    }

    &::-webkit-scrollbar-track {
        margin-left: 25vw;
        margin-right: 25vw;
        background: var(--metal);
    }
}
.card {
    @apply relative overflow-clip min-w-[80%] md:min-w-[400px] bg-home-cards border border-blue rounded-lg snap-start;
    min-height: 250px;
    --transition: .75s ease;

    @media screen and (min-width: 768px) {
        min-height: 340px;
    }
    &:hover {
       img {
            scale: 1.125;
            transition: var(--transition);
       }

       .card__overlay svg {
            translate: 5px 0;
            path {
                fill: var(--yellow);
            }
       }
    }

    .card__overlay svg {
        transition: var(--transition);
    }

    img {
        will-change: scale;
        transform-origin: center center;
        transform-box: fill-box;
        transition: .5s ease;
    }

    &__overlay {
        @apply flex flex-col justify-center absolute w-[230px] h-full right-6 top-0 px-4 bg-white/5 backdrop-blur-xl;
    }
}

.paragraphe {
    @apply text-xl font-semibold leading-relaxed 
}


</style>
