---
import Layout from '../layouts/Layout.astro';
import HeadlineBasic from '../components/HeadlineBasic.astro';
import Tips from '../components/Tips.astro';
import ProjectStripe from '../components/ProjectStripe.astro';
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import Alert from '../components/atom/Alert.astro';
import Image from '../components/atom/Image.astro';
import Button from '../components/atom/Button.astro';
import H1 from '../components/H1.astro';
import PageHero from '../components/PageHero.astro';
import Dropdown from '../components/dropdown.vue';
---


<Layout title="Preezeo - Informations">

    <HeadlineBasic />

    <PageHero h1="Informations utiles" icon="bulb"/>

    <Section>
        <div class="hidden md:block lg:mx-15 font-medium leading-[142%] text-sm">

            <h2 class="flex flex-col font-bold mx-auto w-fit mb-5">
                <span>Les chargeurs</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>
            <p>
                <span class="text-purple">Les chargeurs en courant continu</span>, quant à eux, peuvent atteindre une puissance maximum de 650 kW, 
                ce qui permet une recharge ultra-rapide en environ 20 minutes. Les modèles 24 kW permettent déjà une 
                recharge rapide en 1 à 2 heures. Autrement dit, les bornes en courant continu, d’une puissance généralement 
                supérieure à leurs homologues en courant alternatif, répondent aux besoins des professionnels qui 
                veulent recharger rapidement la batterie de leur véhicule dans le cadre d’un long voyage ou d’une tournée 
                logistique, par exemple.
            <p>

            <h2 class="flex flex-col font-bold mx-auto w-fit mb-5 mt-10">
                <span>Le kilowatt/heure</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>

            <h3 class="text-purple mb-0">Qu'est-ce qu'un kilowatt/heure ?</h3>
            <p>
                <br>
                Pour comprendre le calcul de l'autonomie d'une voiture électrique, il est essentiel de comprendre ce qu'est un kilowatt-heure (kWh). Voici sa définition : le kilowatt-heure représente l'énergie fournie par la batterie au moteur, c'est-à-dire la quantité de kilowatts (kW) que la batterie peut fournir pendant une heure d'utilisation.
                La capacité de la batterie, exprimée en kWh va déterminer en quelque sorte, la “taille de votre réservoir”. Plus elle est grande, plus l’autonomie de votre voiture sera élevée.
                Ainsi, dans la fiche technique d'une voiture électrique, l'un des éléments les plus importants est la capacité de la batterie, exprimée en kilowatt-heures (kWh). Pour simplifier, prenons l'exemple d'une voiture électrique avec un moteur de 50 kW (indiquant la puissance) et une batterie de 50 kWh (indiquant l'énergie). En théorie, dans des conditions idéales, nous pourrions utiliser le moteur à pleine puissance pendant une heure. 
                Cependant, en pratique, la batterie est également sollicitée pour d'autres fonctions en plus de la propulsion de la voiture, et son efficacité diminue en raison de facteurs tels que le froid. Ainsi, cela peut varier. Néanmoins, le rendement d'une voiture électrique, c'est-à-dire la puissance utilisée pour la déplacer, 
                est bien supérieur à celui d'une voiture thermique. On estime le rendement d'une voiture thermique à 40 % (ce qui signifie que 60 % de l'énergie est perdue, notamment dans le processus de combustion), tandis que celui d'une voiture électrique se situe entre 75 % et 90 %.
                <br>
                Le kilowatt (kW) est l'unité de mesure de la puissance, c'est-à-dire la "force" maximale qu'un moteur peut exercer. Elle ne s'applique pas seulement à l'électricité : la puissance est toujours exprimée en kW sur les cartes grises de toutes les voitures - et de tous les véhicules en général.
            <p>

            <h3 class="text-purple mb-0">Capacités et consommation d’un VE</h3>
            <p>
                Introduction
                Lorsque vous consultez la fiche technique de votre voiture électrique, l'un des éléments clés est la capacité de sa batterie, exprimée en kilowattheures (kWh). Actuellement, les capacités des batteries varient généralement entre 20 kWh et 100 kWh. Pour mieux comprendre, prenons deux exemples opposés : la Dacia Spring et la Porsche Taycan Turbo S.
            <p>

            <h2 class="flex flex-col font-bold mx-auto w-fit mb-5 mt-10">
                <span>Cycle WLTP</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>

            <h3 class="text-purple mb-0">Qu’est-ce que le cycle WLTP ?</h3>
            <p>
                En Europe, le recours au cycle d’homologation WLTP (Worldwide Harmonized Light-Duty Vehicles Test Procedure)1 a été rendu obligatoire au 1er janvier 2019.
                <br>
                Il remplace progressivement l’ancien cycle d’homologation NEDC (New European Driving Cycle).
                <br>
                Il permet de mesurer les niveaux de consommation et de pollution au dioxyde de carbone ainsi que l’autonomie des batteries. Pour ce faire, tests en laboratoire et essais en proches des conditions réelles sont effectués.
            <p>
            
        </div>
        <div class="flex md:hidden flex-col items-stretch">
            <h2 class="flex flex-col mobile-h2 mb-5 mt-6">
                <span>Les chargeurs</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>
            <Dropdown title="Les chargeurs en courant continu" client:load>
                Eux, peuvent atteindre une puissance maximum de 650 kW, ce qui permet une recharge ultra-rapide en environ 20 minutes. Les modèles 24 kW permettent déjà une recharge rapide en 1 à 2 heures. Autrement dit, les bornes en courant continu, d’une puissance généralement supérieure à leurs homologues en courant alternatif, répondent aux besoins des professionnels qui veulent recharger rapidement la batterie de leur véhicule dans le cadre d’un long voyage ou d’une tournée logistique, par exemple.
            </Dropdown>
            <Dropdown title="Les chargeurs en courant alternatif" client:load>
                Ils sont les plus répandus. Ils correspondent aux besoins de recharge les plus fréquents : la recharge au travail, chez vous ou sur le parking des établissements recevant du public comme les supermarchés, les hôtels ou les restaurants. L’idée ? Vous profitez de votre temps de stationnement pour recharger votre voiture électrique. Avec une puissance autour de 7 kW, par exemple, le temps de recharge complet s’étend sur environ 7h. 
            </Dropdown>
            <Dropdown title="Les chargeurs embarqués" client:load>
                Lorsqu'il s'agit de recharger votre voiture électrique en courant alternatif (AC), l'électricité doit passer par le chargeur embarqué de votre véhicule pour transformer le courant alternatif en courant continu  (DC) et atteindre la batterie. 
                <br>
                Ce chargeur embarqué a une puissance maximale d'énergie en courant continu comme en courant alternatif qu'il peut accepter. 
                <br>
                Il est essentiel de noter que plus le chargeur embarqué est capable de recevoir une puissance élevée, plus il est coûteux et volumineux.
                <br><br>
                La puissance maximale de recharge de votre voiture électrique, tant en courant alternatif qu'en courant continu, dépend donc du modèle du chargeur embarqué de votre véhicule et non seulement de la borne de recharge elle-même.
                <br>
                En utilisant le courant continu (DC), la batterie du véhicule se recharge plus rapidement car le chargeur embarqué n'a pas besoin de transformer l'énergie et peut accepter une puissance supérieure en courant continu (DC) par rapport au courant alternatif (AC). Cependant, il est important de noter que le courant alternatif du réseau électrique doit toujours être converti en courant continu pour la recharge du véhicule.
                <br>
                Pour maximiser les performances de charge, il est essentiel que la puissance du chargeur embarqué soit compatible avec une forte puissance. Si ce n'est pas le cas, la borne de recharge régulera sa puissance en fonction des capacités du chargeur embarqué. Idéalement, l'installation d'une borne de recharge doit être parfaitement adaptée aux capacités du chargeur embarqué. Inutile d'installer une borne plus puissante que ce que le chargeur embarqué peut accepter.
                <br><br>
                Certains utilisateurs peuvent opter pour un chargeur embarqué avec une puissance supérieure en option lors de l’achat de son véhicule. 
                <br>
                Cela permet d'améliorer les performances de recharge et d'accélérer le temps nécessaire pour recharger complètement un véhicule électrique. 
                <br>
                Chez PREEZEO, nous vous proposons une gamme de solutions pour une recharge optimale et adaptée à vos besoins spécifiques. Notre bureau d’étude vous proposera la puissance qui vous convient le mieux.
                <br><br>
                Profitez pleinement de votre expérience de mobilité électrique!
            </Dropdown>

            <h2 class="flex flex-col mobile-h2 mb-5 mt-6">
                <span>Le kilowatt/heure</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>
            <Dropdown title="Qu’est qu’un kilowatt/heure" client:load>
                Pour comprendre le calcul de l'autonomie d'une voiture électrique, il est essentiel de comprendre ce qu'est un kilowatt-heure (kWh). Voici sa définition : le kilowatt-heure représente l'énergie fournie par la batterie au moteur, c'est-à-dire la quantité de kilowatts (kW) que la batterie peut fournir pendant une heure d'utilisation.
                <br>
                La capacité de la batterie, exprimée en kWh va déterminer en quelque sorte, la “taille de votre réservoir”. Plus elle est grande, plus l’autonomie de votre voiture sera élevée.
                <br>
                Ainsi, dans la fiche technique d'une voiture électrique, l'un des éléments les plus importants est la capacité de la batterie, exprimée en kilowatt-heures (kWh). Pour simplifier, prenons l'exemple d'une voiture électrique avec un moteur de 50 kW (indiquant la puissance) et une batterie de 50 kWh (indiquant l'énergie). En théorie, dans des conditions idéales, nous pourrions utiliser le moteur à pleine puissance pendant une heure. Cependant, en pratique, la batterie est également sollicitée pour d'autres fonctions en plus de la propulsion de la voiture, et son efficacité diminue en raison de facteurs tels que le froid. Ainsi, cela peut varier. Néanmoins, le rendement d'une voiture électrique, c'est-à-dire la puissance utilisée pour la déplacer, est bien supérieur à celui d'une voiture thermique. On estime le rendement d'une voiture thermique à 40 % (ce qui signifie que 60 % de l'énergie est perdue, notamment dans le processus de combustion), tandis que celui d'une voiture électrique se situe entre 75 % et 90 %.
                <br>
                Le kilowatt (kW) est l'unité de mesure de la puissance, c'est-à-dire la "force" maximale qu'un moteur peut exercer. Elle ne s'applique pas seulement à l'électricité : la puissance est toujours exprimée en kW sur les cartes grises de toutes les voitures - et de tous les véhicules en général.
            </Dropdown>
            <Dropdown title="le kWh pour l’énergie" client:load>
                Si dans les moteurs à combustion l'énergie utilisable provient de la combustion du carburant, dans les voitures électriques, elle est fournie directement par les batteries. Par conséquent, si la puissance du moteur continue d'être exprimée en kW, l'énergie fournie par la batterie au moteur lui-même est mesurée en kWh, c'est-à-dire la quantité de kW que la batterie peut fournir en une heure d'utilisation.
            </Dropdown>

            <h2 class="flex flex-col mobile-h2 mb-5 mt-6">
                <span>Capacités et consommation d’un VE</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>
            <Dropdown title="Introduction" client:load>
                Lorsque vous consultez la fiche technique de votre voiture électrique, l'un des éléments clés est la capacité de sa batterie, exprimée en kilowattheures (kWh). Actuellement, les capacités des batteries varient généralement entre 20 kWh et 100 kWh. Pour mieux comprendre, prenons deux exemples opposés : la Dacia Spring et la Porsche Taycan Turbo S.
                <br><br>
                La Dacia Spring est équipée d'une batterie d'une capacité de 27,4 kWh, tandis que la Porsche Taycan Turbo S dispose d'une batterie beaucoup plus grande, avec une capacité de 93,4 kWh.
                <br>    
                En ce qui concerne la consommation d'énergie, il est courant de parler de la consommation d'une voiture thermique en litres aux 100 kilomètres. Pour les voitures électriques, la consommation est également exprimée aux 100 kilomètres, mais en kilowattheures (kWh/100 km). 
            </Dropdown>
            <Dropdown title="Exemple" client:load>
                Reprenons nos deux exemples :
                <br>
                La Dacia Spring annonce une consommation mixte (WLTP) de 13,9 kWh/100 km.
                <br>
                La Porsche Taycan Turbo S annonce une consommation moyenne (WLTP) de 25,6 kWh/100 km.
                <br><br>
                Il est important de souligner que ces données fournies par les constructeurs automobiles sur la fiche technique sont indicatives, tout comme la consommation d'une voiture à essence. La consommation peut varier en fonction du style de conduite : une conduite plus agressive entraînera une consommation plus élevée, que ce soit pour une voiture thermique ou électrique.
            </Dropdown>
            <Dropdown title="Estimation" client:load>
                Maintenant, passons à l'estimation de l'autonomie de votre voiture électrique. Une fois que vous connaissez la capacité de la batterie (en kWh) ainsi que la consommation moyenne (en kWh/100 km), vous pouvez rapidement effectuer le calcul suivant : divisez la capacité de la batterie par la consommation moyenne, puis multipliez le résultat par 100, car on parle d'autonomie aux 100 kilomètres.
                <br>
                Pour la Dacia Spring : (27,4 / 13,9) x 100 = 197 km. Selon sa consommation moyenne, la Dacia Spring pourrait parcourir environ 197 km avec une charge complète, comparé aux 230 km indiqués dans la fiche technique.
                <br>
                Pour la Porsche Taycan Turbo S : (93,4 / 25,6) x 100 = 364 km. En se basant sur sa consommation moyenne, la Porsche Taycan Turbo S aurait une autonomie d'environ 364 km, par rapport aux 412 km indiqués dans la fiche technique.
                <br><br>
                Ces résultats sont bien entendu indicatifs et peuvent varier en fonction de votre style de conduite, ainsi que des conditions régionales et saisonnières. De plus, la capacité réelle de la batterie est souvent légèrement inférieure à sa capacité nominale. Pour obtenir une estimation plus précise de votre autonomie, si vous possédez déjà une voiture électrique, il est préférable de relever votre consommation moyenne après plusieurs trajets types et de réaliser vos propres calculs pour obtenir une estimation plus précise de votre autonomie réelle.
            </Dropdown>

            <h2 class="flex flex-col mobile-h2 mb-5 mt-6">
                <span>Cycle WLTP</span>
                <span class="bg-purple w-10 h-[3px]"></span>
            </h2>
            <Dropdown title="Qu’est qu’un cycle WLTP ?" client:load>
                En Europe, le recours au cycle d’homologation WLTP (Worldwide Harmonized Light-Duty Vehicles Test Procedure)1 a été rendu obligatoire au 1er janvier 2019.
                <br>                
                Il remplace progressivement l’ancien cycle d’homologation NEDC (New European Driving Cycle).
                <br>
                Il permet de mesurer les niveaux de consommation et de pollution au dioxyde de carbone ainsi que l’autonomie des batteries. Pour ce faire, tests en laboratoire et essais en proches des conditions réelles sont effectués.
            </Dropdown>
        </div>
    </Section>
</Layout>

<style lang="scss">
@use '../styles/_variables.scss' as *;

.link-svg {
    @include flex(center,flex-start);
    // @include position(calc(20px + 100%), $left:50%);
    // position: absolute;
    width: max-content;
    max-width: unset;
    translate: 85px 20px;
}


h2 {
    font-weight: 600;
}

a {

}
</style>
