---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/Headline.astro';
import H1 from '../components/H1.astro';
---

<Layout title="Preezeo">
    <div class="flex flex-col gap-14 justify-start ml-auto mr-auto lg:mr-[15%] w-fit">
        <Headline />
    </div>
    <H1 text="pour professionnels" />
</Layout>

<style>

</style>
