---
import Layout from '../layouts/Layout.astro';
import HeadlineBasic from '../components/HeadlineBasic.astro';
import Tips from '../components/Tips.astro';
import ProjectStripe from '../components/ProjectStripe.astro';
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import Alert from '../components/atom/Alert.astro';
import Image from '../components/atom/Image.astro';
import Button from '../components/atom/Button.astro';
import H1 from '../components/H1.astro';
import PageHero from '../components/PageHero.astro';

---


<Layout title="Preezeo - Tarifs">

    <HeadlineBasic />

    <PageHero h1="le coût de mon installation" icon="money"/>

    <Section>
        <div class="flex flex-col lg:flex-row justify-center gap-10 text-metal">
            <div class="flex flex-col max-w-[450px] p-6 bg-light-purple border border-purple rounded-lg">
                <h2 class="text-purple text-3xl mb-6">Les étapes</h2>
                <p class="font-medium">
                    Suite à la visite technique de notre technicien à votre domicile et après quelques questions, notre bureau 
                    d’étude réalisera les calculs nécessaires. 
                    Par la suite notre service commercial vous proposera votre solution chiffrée. 
                    <br>
                    <br>
                    L'installation est effectuée par les techniciens de PREEZEO, qui détient également une garantie décennale.
                    Notre bureau d'étude vous présentera le produit approprié à vos exigences tout en respectant le budget le mieux 
                    adapté.
                </p>
            </div>
            <div class="flex flex-col max-w-[450px] p-6 bg-light-purple border border-purple rounded-lg">
                <h2 class="text-purple text-3xl mb-6">Le coût</h2>
                <p class="font-medium">
                    Mettre en place une borne de recharge à domicile engendre un certain coût, lequel sera conditionné par 
                    différents éléments. L'installation basique de la station de recharge requiert généralement un budget compris 
                    entre 400 et 800 €, couvrant l'installation elle-même, le câblage électrique nécessaire, ainsi que la mise 
                    en place des dispositifs de protection électrique. 
                    <br>
                    Ces dépenses peuvent augmenter dans le cas où il serait nécessaire d'excaver une tranchée (génie civil) 
                    ou si l'installation électrique est obsolète. 
                    Il est important de noter que le crédit d'impôt peut couvrir jusqu'à 75% de ces frais, avec un montant 
                    maximum de 300 €.
                    <br>
                    <br>
                    En ce qui concerne la borne de recharge en tant qu'équipement, son coût varie, débutant à 400 € pour une
                    capacité de 4.6 kWh et pouvant atteindre 2200 € pour une capacité de 7.4 kWh, tandis que pour des stations 
                    de recharge plus rapides et performantes, le prix peut dépasser ces valeurs.
                </p>
            </div>
        </div>
    </Section>

    <Section flex={true} c="hidden md:flex">
        <ProjectStripe />
    </Section>
    
</Layout>

<style lang="scss">
@use '../styles/_variables.scss' as *;

.link-svg {
    @include flex(center,flex-start);
    // @include position(calc(20px + 100%), $left:50%);
    // position: absolute;
    width: max-content;
    max-width: unset;
    translate: 85px 20px;
}


h2 {
    font-weight: 600;
}

a {

}
</style>
