---
import Button from './atom/Button.astro'

export interface Props {
	c?: string;
}

const { c = ''} = Astro.props;
---

<a href="/contact" class={`p-[2px] ${c}`}>
    <Button
        text="Nous contacter"
        color="yellow"
    />
</a>
</style>
