---
export interface Props {
	c?: string,
	title?: string;
	icon?: boolean;
	number?: number;
	isSmall?: boolean;
	stepDisplay?: boolean;
	shadow?: boolean;
	border?: boolean;
	color: 'dark' | 'light';
}

const {c, border, title, icon, number, color, isSmall, shadow, stepDisplay} = Astro.props;
---

<article 
	class:list={[
	c,
	stepDisplay ? 'card-step' : '', 
	number && !stepDisplay ? 'mt-10 pb-8' : 'pb-4', 
	border ? 'border rounded-lg border-purple' : '', 
	isSmall ? 'max-w-[350px] lg:max-w-[300px]' : '', 
	shadow ? 'shadow-cardHomepage' : '', 
	color === 'dark' ? 'bg-deep-blue' :'bg-light-purple', 
	'flex flex-1 gap-3 items-center relative flex-col rounded-lg px-8 pt-4 lg:px-4 lg:pt-4'
	]}
>
	{icon &&
		<div class="icon">
			<slot name="icon" />
		</div>
	}

	{number &&
		<div class="absolute -left-2 -top-2">
			<p class="text-purple text-[100px] font-montserrat font-medium leading-0">{ number }</p>
		</div>
	}

	{title?.length && 
		<h3 class="font-bold text-yellow">{ title }</h3>
	}
	<div class:list={[color === 'dark' ? 'text-blue' : 'text-deep-blue', 'font-semibold text-sm w-full']}>
		<slot name="content" />
	</div>
</article>

<style lang="scss">
@use '../styles/_variables.scss' as *;

.icon {
	@include fixed-size(75px);
	@include position(0, 35px);
	translate: -100% 0;
}

.card-step {
	padding-top: 0;

	h3 {
		color: $purple;	
		font-weight: medium;
		font-size: 30px;
	}

}

</style>
