---
export interface Props {
	items: Array<{	
		text: string,
		icon: string,
		value: string,
	}>
}

const {items} = Astro.props;
---

{items.map((item) => (
	<article 
		class="card-select flex flex-1 gap-3 items-center relative flex-col rounded-lg bg-t border-2 border-dashed border-purple cursor-pointer"
		data-value={item.value}
		>
		<img 
			src={item.icon}
			alt=""
			class="icon"
			loading="lazy"
			draggable="false"
			decoding="async"
		/>
		<h3>{ item.text }</h3>
	</article>
))}

<style lang="scss">
@use '../styles/_variables.scss' as *;


article {
	padding: 50px 30px;
	cursor: pointer;
	transition: .2s ease-in-out;
	@media (max-width: 480px) {
		padding: 0;
		aspect-ratio: 1;
		justify-content: center;
	}

	&:hover {
		border-style: solid;
	}

	&.active {
		background-color: rgba(81, 91, 224, 0.10);
		border-style: solid;
		cursor: initial;

		h3 {
			color: $purple;
		}
	}

	* {
		pointer-events: none;
	}

	h3 {
		text-align: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		white-space: nowrap;
	}
}

</style>
