<h2 class="w-fit font-alien text-sm sm:text-xl lg:text-2xl text-center whitespace-nowrap">
    <span class="text-purple">La </span> 
    <span class="text-yellow">Borne</span> 
    qu’il vous faut!
</h2>

<style>

</style>
