---
export interface Props {
	c?: string;
    flex?: boolean;
    smallBottomMargin?: boolean;
}

const prop = Astro.props;
---

<section class={`
    ${prop.flex ? 'flex justify-center items-stretch' : ''} 
    ${prop.smallBottomMargin ? 'mb-20 md:mb-[7vh] lg:mb-[135px]': 'mb-20 md:mb-[15vh] lg:mb-[200px]'}
    ${prop.c} 
`}>
    <slot />
</section>