---
import Image from './atom/Image.astro';
import ButtonContact from './ButtonContact.astro';
 
export interface Props {
	title?: string;
    size?: 'big' | 'small' | 'medium';
    btn?: boolean;
}
const prop = Astro.props 
---

<div class={`relative mx-auto ${prop.size}`}>
    <div class="hidden lg:block absolute -left-4 -translate-x-full">
        <Image 
            src="/img/illu/bulb.png" 
            alt="bulb decorative image" 
        />
    </div>
    <div class="pt-10">
        <div class="flex items-center gap-3">
            {prop.title?.length > 0 && 
                <h3 class="text-purple font-bold mb-2">{prop.title}</h3>
                <div class="w-[35px] scale-x-[-1] -translate-y-1/2 lg:hidden">
                    <Image 
                        src="/img/illu/bulb.png" 
                        alt="bulb decorative image" 
                    />
                </div>
            }
        </div>

        <div class="">
            <slot name="text" />
        </div>

        {prop.btn && 
            <div class="flex justify-center mt-4 lg:block">
                <ButtonContact />
            </div>
        }
    </div>
</div>


<style lang="scss">

.small {
    max-width: 500px;
}

.medium {
    max-width: 750px;
}

.big {
    max-width: 940px;
}

</style>
