---
import Image from './atom/Image.astro';
import ButtonContact from './ButtonContact.astro';
 
export interface Props {
	title?: string;
    isBig?: boolean;
    btn?: boolean;
}
const prop = Astro.props 
---

<div class={`relative ${prop.isBig ? 'max-w-[750px]' : 'max-w-[500px]'}`}>
    <div class="absolute -left-4 -translate-x-full">
        <Image 
            src="/img/illu/bulb.png" 
            alt="bulb decorative image" 
        />
    </div>
    <div class="pt-10">
        {prop.title?.length > 0 && 
            <h3 class="text-purple font-bold mb-2">{prop.title}</h3>
        }
        <slot name="text" />
        {prop.btn && 
            <div class="mt-4">
                <ButtonContact />
            </div>
        }
    </div>
</div>


<style lang="scss">


</style>
