---
import Button from "../components/Button.astro";
import Image from "../components/Image.astro";

const links = [
    {name: 'Particulier', link: '#'},
    {name: 'Infrastructure collective', link: '#'},
    {name: 'Professionnel', link: '#'},
    {name: 'Services', link: '#'},
    {name: 'En savoir plus', link: '#'},
]

---

<header class="flex items-center justify-between w-100">
    <a href="/" class="flex justify-center items-center w-[135px]">
        <Image 
            src="/img/logo_burgundy.svg" 
            alt="Logo de Preezeo - la Borne qu’il vous faut!" 
            fetchPriority={true}
        />
    </a>
    
    <nav class="flex items-center gap-7 text-sm 2xl:gap-14">
        <ul class="flex items-center gap-4 font-semibold 2xl:gap-8">
            {links.map((item) => (
                <li><a href={item.link}>{item.name}</a></li>
            ))}
        </ul>

        <Button text="Nous contacter" color="yellow" />
    </nav>
    
</header>

<style>

</style>