---
import '../styles/main.scss';
import Image from '../components/atom/Image.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import { ViewTransitions } from 'astro:transitions';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:image" content="/img/logo/full_burgundy.svg" />
		<meta name="twitter:title" content="Preezeo la borne qu'il vous faut !" />
		<meta name="description" content="
			Preezeo, la borne qu'il vous faut ! 
			PREEZEO labélisé Qualifelec, intervient dans toute la France métropolitaine afin d’installer  et de maintenir vos bornes de recharge pour véhicules électriques. 
			Nous vous assurons un service de qualité effectué par des électriciens professionnels agréés IRVE. 
			PREEZEO forme de manière régulière ses techniciens. 
			Nous favorisons des produits fabriqués en France qui peuvent être évolutifs.
			Spécialiste de l’installation des bornes de recharge pour véhicules électriques.
		">
		<meta name="robots" content="follow"/>
		<meta name="author" content="Preezeo"/>
		<meta name="copyright" content="Preezeo"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<!-- <link rel="preload" as="font" href="/fonts/Montserrat.ttf" type="font/ttf" /> -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preload" as="font" href="/fonts/Alien Robot.ttf" type="font/ttf" crossorigin="anonymous"/>
		<link rel="preload" as="font" href="/fonts/Montserrat.ttf" type="font/ttf" crossorigin="anonymous"/>
		<link rel="prefetch" as="image" href="/img/backgrounds/bg_shape_top.webp" type="image/webp" crossorigin="anonymous"/>
		<link rel="prefetch" as="image" href="/img/backgrounds/bg_shape_mid.webp" type="image/webp" crossorigin="anonymous"/>
		<link rel="prefetch" as="image" href="/img/backgrounds/bg_shape_bot.webp" type="image/webp" crossorigin="anonymous"/>
		<link rel="preload" as="image" href="/img/logo_burgundy.svg" type="image/svg+xml" />
		<link rel="preload" as="image" href="/img/logo_purple.svg" type="image/svg+xml" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col bg-light text-metal font-montserrat text-base font-normal leading-[140%]">
		<Header />	
		<main class="wrapper">
			<slot />
		</main>
		<div class="bg-container">
			<Image 
				src="/img/backgrounds/bg_shape_top.webp"
				alt=""
			/>
			<Image 
				src="/img/backgrounds/bg_shape_mid.webp"
				alt=""
			/>
			<Image 
				src="/img/backgrounds/bg_shape_bot.webp"
				alt=""
			/>
		</div>
		<Footer />
	</body>
</html>

<style lang="scss" is:global>
	@use '../styles/_variables.scss' as *;

	// html {
	// 	font-size: 60%;
	// 	@media screen and (min-width: 600px) {
	// 		font-size: 70%;
	// 	}
	// 	@media screen and (min-width: 1024px) {
	// 		font-size: 80%;
	// 	}
	// 	@media screen and (min-width: 1280px) {
	// 		font-size: 90%;
	// 	}
	// 	@media screen and (min-width: 1340px) {
	// 		font-size: 100%;
	// 	}
	// }
	
	body {
		min-height: 100vh;
		min-height: 100dvh;

		&::-webkit-scrollbar {
			width: .5vw;
			border-radius: 99px;
		}
		&::-webkit-scrollbar-thumb {
			border: .125vw #EEEFF2 solid;
			border-radius: 99px;
			background: #FFB800; 
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #e7a500; 
		}
		&::-webkit-scrollbar-track {
			background: #eeeff200;
		}
	}

	main {
		flex: 1;
		min-height: 80vh;
		z-index: 50;
		//min-height: 5000px;
	}

	header {
		position: relative;
		z-index: 100;
	}

	main, footer, header {
		position: relative;
	}

	footer > *, header {
		padding: 35px 0;

		@media screen and (min-width: 1024px) {
			padding: 35px 0;
		}

		@media screen and (min-width: 1280px) {
			padding: 50px 0;
		}
	}

	.wrapper {
		margin: 0 auto;
		width: 90vw;
		max-width: 1400px;
		@media screen and (max-width: 550px) {
			width: 90vw;
		}
	}

	.bg-container {
		@include flex(flex-start, center, column, $gap:10vh);
		@include position(0, 0, $position: absolute);
		pointer-events: none;
		padding-top: 90px;
		z-index: -1;
		overflow: hidden;
		max-height: 100%;
		width: 100%;

		img {
			&:nth-child(1) {
				width: 100%;
				@media screen and (min-width: 760px) {
					width: 80%;
				}
			}
			&:nth-child(2) {
				width: 100%;
			}
			&:nth-child(3) {
				width: 100%;
			}
		}
	}

	.scrollbar-hide {
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}

</style>
